footer {
    background: black;
    color: white;
    padding: 14px 5% 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.icons, .mainIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    display: inline-block;
    width: auto;
    padding: 0;
}

.icon {
    height: 50px;
    font-size: 30px;
    margin: 0 10px;
    color: white;
}

.icon:first-child {
    margin-left: 0;
}

.mainIcon .icon {
    height: 50px;
}